$tetris-blue: #022970;
$tetris-blue-light: #acb8e8ff;
$tetris-blue-dark: #000044;

$tetris-yellow: #fcd234;
$tetris-yellow-light: #ffff6a;
$tetris-yellow-dark: #c5a100;

$midnight-navy-dark: #0a0e1d;
$diamond-white: #ecefec;