@import './colors';

$primary-color: $tetris-blue;
$primary-color-light: $tetris-blue-light;
$primary-color-dark: $tetris-blue-dark;

$secondary-color: $tetris-yellow;
$secondary-color-light: $tetris-yellow-light;
$secondary-color-dark: $tetris-yellow-dark;

$main-color: $midnight-navy-dark;
$text-color: $diamond-white;